
body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 13px;
}
p {
	padding: 0;
	margin: 0;
}

.centered-p {
	text-align: center;
}

.status-message {
	color: #999;
}

.twitch-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	background-image: url('../img/twitch-logo.png');
	vertical-align: middle;
	margin-right: 10px;
}



#room {
	width: 350px;
	min-height: 100px;
	padding: 20px;
	background-color: #e1e1e1;
}




#connectWithTwitch {
	display: inline-block;
	cursor: pointer;
	background-color: #6441A5;
	padding: 10px 14px;
	color: white;
	border: none;
}
#connectWithTwitch:hover {
	background-color: #7550ba;
}