/** Twitch page modifier */
.chat-container .chat-room {
	top: 162px !important;
}
/** Twitch page modifier */


/*****/

.tp-status-message {
	color: #999;
	font-size: 14px;
}

.tp-notification {
	-webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s;
	-webkit-animation-duration: 0.8s; -moz-animation-duration: 0.8s; animation-duration: 0.8s;
	 margin: 0; padding: 6px; font-size: 12px;
}
.tp-notification.tp-error {color: #BF3030;}
.tp-notification.tp-success { color: #18961A;}

.tp-twitch-icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 8px;
}



#tp-room {
	width: 350px;
	/*background-color: #e1e1e1;*/
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 13px !important;
	position: absolute;
	top: 50px;
	z-index: 5;
	border-bottom: 1px solid #dedede;
}
#tp-room * {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
#tp-room p {
	margin: 0;
	padding: 0;
}



.tp-bottom-section {height: 82px;}
.tp-bottom-section.tp-no-top-bar {height: 112px;}

#tp-authenticating, #tp-notConnected {
	line-height: 112px;
	text-align: center;
}

#tp-notConnected {}
	#tp-connectWithTwitch {
		margin-top: 36px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		background-color: #6441A5;
		padding: 10px 14px;
		color: white;
		border: none;
		font-size: 13px;
	}
	#tp-connectWithTwitch:hover {
		background-color: #7550ba;
	}


#tp-connectedRoom {overflow: hidden;}

	#tp-topBar { padding: 5px 6px; background-color: #efefef; border-bottom: 1px solid #dedede; position:relative; height: 30px;}
		#tp-topBar .tp-notification { top: -30px; position: absolute;}

	#tp-topBar #tp-addAFriend {cursor: pointer; margin-left: 12px;}
		#tp-topBar #tp-addAFriend:hover, #tp-topBar #tp-addAFriend.active {background-color: #ddd; border-radius: 3px;}
	
	#tp-topBar #tp-addFriendBox {position: absolute; top: 30px; left: 0; width: 100%;}
		#tp-topBar #tp-addFriendBox #tp-addFriendWrapper { position: relative;}
			/* Css Arrow please */ /*#tp-topBar #tp-addFriendBox #tp-addFriendWrapper:after, #tp-topBar #tp-addFriendBox #tp-addFriendWrapper:before {	top: 100%;left: 16px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
			/* Css Arrow please */ /*#tp-topBar #tp-addFriendBox #tp-addFriendWrapper:after {border-color: rgba(100, 65, 165, 0);border-top-color: #6441a5;border-width: 2px;margin-left: -2px;}
			/* Css Arrow please */ /*#tp-topBar #tp-addFriendBox #tp-addFriendWrapper:before {border-color: rgba(100, 65, 165, 0);border-top-color: #6441a5;border-width: 5px;margin-left: -5px;}*/

		#tp-topBar #tp-addFriendBox .tp-error { position: absolute; z-index: 16; right: 5px; top: 9px;}

		#tp-topBar #tp-addFriendBox input { padding: 7px; font-size: 13px; width: 100%;box-sizing: border-box; border: none; border-bottom: 1px solid #dedede; z-index: 15; position: absolute; top: 1px; left: 0;}
			#tp-topBar #tp-addFriendBox input[disabled] { color: rgba(10, 10, 10, 0.3);}
		#tp-topBar #tp-addFriendBox #tp-spinner { vertical-align: middle; position: absolute; z-index: 17; height: 9px; right: 10px; top: 11px;}

	#tp-connectedRoom #tp-userList {padding: 10px; overflow: visible;}

		#tp-userList  .tp-user {float: left; margin-right: 10px; margin-bottom: 10px; position: relative; cursor: pointer;}
			#tp-userList  .tp-user .tp-online { position: absolute; width: 8px; height: 8px; background-color: #32BD26; top: 3px; right: 3px; border-radius: 4px; border: 1px solid #279C1C;}
			#tp-userList .tp-user .tp-wrapper {	width: 48px;height: 48px; border-radius: 24px; background-color: #ccc;}
			#tp-userList .tp-user .tp-username { color: white; padding: 2px 4px; font-size: 11px; background-color: rgba(40, 40, 40, 0.6); margin-top: -8px; width: 48px;}

		#tp-userList  .tp-user .tp-bubble { width: 20px; height: 18px; border-radius: 10px; position: absolute; z-index: 10; text-align: center; padding-top: 2px; cursor: pointer;}
			#tp-userList  .tp-user .tp-bubble.tp-close-bubble { top: -6px; right: -18px; font-size: 12px; background-color: #f9f9f9; border: 1px solid #cfcfcf; color: red;}
				#tp-userList  .tp-user .tp-bubble.tp-close-bubble:hover { background-color: #D14338; color: white;}

			#tp-userList  .tp-user .tp-bubble.tp-whisper-bubble { border-color: purple; top: 3px; left: -23px; font-size: 12px; background-color: white; color: #6441A5;}

